# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


*.iml

.idea

*/target

body_temperature/src/main/webapp/WEB-INF/css/
common/src/
common_web/src/main/java/
common_web/src/main/resources/
design_patterns/src/main/java/Strategy/
design_patterns/src/main/java/TemplateMethod/
design_patterns/src/main/resources/
design_patterns/src/test/
learn_groovy/out/
learn_java/src/test/
online_charging/src/main/resources/
